{% include 'header.html.twig' %}




<div class="register_big_block" >
<div class="row" >
    <div class="col-12 col-sm-12 col-lg-4">
    <div class="register_block">

        {# ---------------------------------------------------------- #}
                            {# Traing 1 #}
        {# ---------------------------------------------------------- #}

            <h4>Formation n°1 : Cursus d’initiation à la guitare</h4>
            <br>

        {% if 1 not in certificationOk and 2 not in certificationOk %}
            <p>Aucune formation validée</p>
        {% endif %}

        {% if 1 in certificationOk %}
            <p>Validé ! - Leçon n°1 : Découverte de l’instrument</p>
        {% endif %}

        {% if 2 in certificationOk %}
            <p>Validé ! - Leçon n°2 : Les accords et les gammes</p>
        {% endif %}
    </div>
    </div>

    <div class="col-12 col-sm-12 col-lg-4">
    <div class="register_block">
        {# ---------------------------------------------------------- #}
                            {# Traing 2 #}
        {# ---------------------------------------------------------- #}

            <h4>Formation n°2 : Cursus d’initiation au piano</h4>
            <br>

        {% if 3 not in certificationOk and 4 not in certificationOk %}
            <p>Aucune formation validée</p>
        {% endif %}

        {% if 3 in certificationOk %}
            <p>Validé ! - Leçon n°1 : Découverte de l’instrument</p>
        {% endif %}

        {% if 4 in certificationOk %}
            <p>Validé ! - Leçon n°2 : Les accords et les gammes</p>
        {% endif %}
    </div>
    </div>

    <div class="col-12 col-sm-12 col-lg-4">
    <div class="register_block">
        {# ---------------------------------------------------------- #}
                            {# Traing 3 #}
        {# ---------------------------------------------------------- #}

            <h4>Formation n°3 : Cursus d’initiation au développement web</h4>
            <br>

        {% if 5 not in certificationOk and 6 not in certificationOk %}
            <p>Aucune formation validée</p>
        {% endif %}

        {% if 5 in certificationOk %}
            <p>Validé ! - Leçon n°1 : Les langages Html et CSS</p>
        {% endif %}

        {% if 6 in certificationOk %}
            <p>Validé ! - Leçon n°2 : Dynamiser votre site avec Javascript</p>
        {% endif %}
    </div>
    </div>

    <div class="col-12 col-sm-12 col-lg-4">
    <div class="register_block">
        {# ---------------------------------------------------------- #}
                            {# Traing 4 #}
        {# ---------------------------------------------------------- #}

            <h4>Formation n°4 : Cursus d’initiation au jardinage</h4>
            <br>

        {% if 7 not in certificationOk and 8 not in certificationOk %}
            <p>Aucune formation validée</p>
        {% endif %}

        {% if 7 in certificationOk %}
            <p>Validé ! - Leçon n°1 : Les outils du jardinier</p>
        {% endif %}

        {% if 8 in certificationOk %}
            <p>Validé ! - Leçon n°2 : Jardiner avec la lune</p>
        {% endif %}
    </div>
    </div>

    <div class="col-12 col-sm-12 col-lg-4">
    <div class="register_block">
        {# ---------------------------------------------------------- #}
                            {# Traing 5 #}
        {# ---------------------------------------------------------- #}

            <h4>Formation n°5 : Cursus d’initiation à la cuisine</h4>
            <br>

        {% if 9 not in certificationOk and 10 not in certificationOk %}
            <p>Aucune formation validée</p>
        {% endif %}

        {% if 9 in certificationOk %}
            <p>Validé ! - Leçon n°1 : Les modes de cuisson</p>
        {% endif %}

        {% if 10 in certificationOk %}
            <p>Validé ! - Leçon n°2 : Les saveurs</p>
        {% endif %}
    </div>
    </div>

    <div class="col-12 col-sm-12 col-lg-4">
    <div class="register_block">
        {# ---------------------------------------------------------- #}
                            {# Traing 6 #}
        {# ---------------------------------------------------------- #}

            <h4>Formation n°6 : Cursus d’initiation à l’art du dressage culinaire</h4>
            <br>

        {% if 11 not in certificationOk and 12 not in certificationOk %}
            <p>Aucune formation validée</p>
        {% endif %}

        {% if 11 in certificationOk %}
            <p>Validé ! - Leçon n°1 : Mettre en œuvre le style dans l’assiette</p>
        {% endif %}

        {% if 12 in certificationOk %}
            <p>Validé ! - Leçon n°2 : Harmoniser un repas à quatre plats</p>
        {% endif %}
    </div>
    </div>

</div>
</div>


<style>
    .register_big_block {
        background-color:#82b864 ;
        width: 80%;
        margin: auto;
        border-radius: 20px;
    }
    .register_block {
        background-color:#00497c;
        color:white;
        border-radius: 20px;
        height:300px;
        padding:20px;
        margin:20px;

    }



</style>