{% include 'header.html.twig' %}







{# ---------------------------------------------------------- #}
                    {# Traing 1 #}
{# ---------------------------------------------------------- #}

    <h1>Formation n°1 : Cursus d’initiation à la guitare</h1>

    <h1>Formation n°1 : Cursus d’initiation à la guitare</h1>
    <h2>Leçon n°1 : Découverte de l’instrument</h2>

    <h1>Formation n°1 : Cursus d’initiation à la guitare</h1>
    <h2>Leçon n°2 : Les accords et les gammes</h2>

{# ---------------------------------------------------------- #}
                    {# Traing 2 #}
{# ---------------------------------------------------------- #}

    <h1>Formation n°2 : Cursus d’initiation au piano</h1>

    <h1>Formation n°2 : Cursus d’initiation au piano</h1>
    <h2>Leçon n°1 : Découverte de l’instrument</h2>

    <h1>Formation n°2 : Cursus d’initiation au piano</h1>
    <h2>Leçon n°2 : Les accords et les gammes</h2>

{# ---------------------------------------------------------- #}
                    {# Traing 3 #}
{# ---------------------------------------------------------- #}

    <h1>Formation n°3 : Cursus d’initiation au développement web</h1>

    <h1>Formation n°3 : Cursus d’initiation au développement web</h1>
    <h2>Leçon n°1 : Les langages Html et CSS</h2>

    <h1>Formation n°3 : Cursus d’initiation au développement web</h1>
    <h2>Leçon n°2 : Dynamiser votre site avec Javascript</h2>

{# ---------------------------------------------------------- #}
                    {# Traing 4 #}
{# ---------------------------------------------------------- #}

    <h1>Formation n°4 : Cursus d’initiation au jardinage</h1>

    <h1>Formation n°4 : Cursus d’initiation au jardinage</h1>
    <h2>Leçon n°1 : Les outils du jardinier</h2>

    <h1>Formation n°4 : Cursus d’initiation au jardinage</h1>
    <h2>Leçon n°2 : Jardiner avec la lune</h2>

{# ---------------------------------------------------------- #}
                    {# Traing 5 #}
{# ---------------------------------------------------------- #}

    <h1>Formation n°5 : Cursus d’initiation à la cuisine</h1>

    <h1>Formation n°5 : Cursus d’initiation à la cuisine</h1>
    <h2>Leçon n°1 : Les modes de cuisson</h2>

    <h1>Formation n°5 : Cursus d’initiation à la cuisine</h1>
    <h2>Leçon n°2 : Les saveurs</h2>

{# ---------------------------------------------------------- #}
                    {# Traing 6 #}
{# ---------------------------------------------------------- #}

    <h1>Formation n°6 : Cursus d’initiation à l’art du dressage culinaire</h1>

    <h1>Formation n°6 : Cursus d’initiation à l’art du dressage culinaire</h1>
    <h2>Leçon n°1 : Mettre en œuvre le style dans l’assiette</h2>

    <h1>Formation n°6 : Cursus d’initiation à l’art du dressage culinaire</h1>
    <h2>Leçon n°2 : Harmoniser un repas à quatre plats</h2>

